.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.box2{
    cursor: pointer;
    flex: 1 0 8.5%;
    margin: 10px;
    text-Align: center
}

@media (max-width: 600px) {
   .box2{
    cursor: pointer;
    flex: 1 0 30%;
    margin: 10px;
    text-Align: center
}
}

